<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.AttachfileDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.AttachfileDomain">
        <constructor>
            <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="AttachType" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="DataInfoId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ShowTitle" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="AttachUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="FileFormat" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, AttachType, DataInfoId, 
    ShowTitle, AttachUrl, FileFormat, ShowOrder
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from attachfile
        where Id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="selectByDataInfoId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attachfile
        WHERE DataInfoId IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from attachfile
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.nhfc99.template.domain.AttachfileDomain">
    insert into attachfile (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, AttachType, 
      DataInfoId, ShowTitle, AttachUrl, 
      FileFormat, ShowOrder)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{attachType,jdbcType=INTEGER}, 
      #{dataInfoId,jdbcType=VARCHAR}, #{showTitle,jdbcType=VARCHAR}, #{attachUrl,jdbcType=VARCHAR}, 
      #{fileFormat,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.AttachfileDomain">
        insert into attachfile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="createDate != null">
                CreateDate,
            </if>
            <if test="createUserId != null">
                CreateUserId,
            </if>
            <if test="createUserName != null">
                CreateUserName,
            </if>
            <if test="lastEditDate != null">
                LastEditDate,
            </if>
            <if test="attachType != null">
                AttachType,
            </if>
            <if test="dataInfoId != null">
                DataInfoId,
            </if>
            <if test="showTitle != null">
                ShowTitle,
            </if>
            <if test="attachUrl != null">
                AttachUrl,
            </if>
            <if test="fileFormat != null">
                FileFormat,
            </if>
            <if test="showOrder != null">
                ShowOrder,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="attachType != null">
                #{attachType,jdbcType=INTEGER},
            </if>
            <if test="dataInfoId != null">
                #{dataInfoId,jdbcType=VARCHAR},
            </if>
            <if test="showTitle != null">
                #{showTitle,jdbcType=VARCHAR},
            </if>
            <if test="attachUrl != null">
                #{attachUrl,jdbcType=VARCHAR},
            </if>
            <if test="fileFormat != null">
                #{fileFormat,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                #{showOrder,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.AttachfileDomain">
        update attachfile
        <set>
            <if test="createDate != null">
                CreateDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                CreateUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                CreateUserName = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="attachType != null">
                AttachType = #{attachType,jdbcType=INTEGER},
            </if>
            <if test="dataInfoId != null">
                DataInfoId = #{dataInfoId,jdbcType=VARCHAR},
            </if>
            <if test="showTitle != null">
                ShowTitle = #{showTitle,jdbcType=VARCHAR},
            </if>
            <if test="attachUrl != null">
                AttachUrl = #{attachUrl,jdbcType=VARCHAR},
            </if>
            <if test="fileFormat != null">
                FileFormat = #{fileFormat,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                ShowOrder = #{showOrder,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.AttachfileDomain">
    update attachfile
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      AttachType = #{attachType,jdbcType=INTEGER},
      DataInfoId = #{dataInfoId,jdbcType=VARCHAR},
      ShowTitle = #{showTitle,jdbcType=VARCHAR},
      AttachUrl = #{attachUrl,jdbcType=VARCHAR},
      FileFormat = #{fileFormat,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>