<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.NewsdetailDomainMapper" >
  <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.NewsdetailDomain" >
    <constructor >
      <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ShowType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NewsTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsClassId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsSummary" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ReadCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CoverPic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsSource" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DetailLink" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VideoLink" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoDescription" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoKeywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.nhfc99.template.domain.NewsdetailDomain" >
    <constructor >
      <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ShowType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NewsTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsClassId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsSummary" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ReadCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CoverPic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NewsSource" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DetailLink" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VideoLink" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoDescription" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoKeywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NewsContent" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, ShowType, NewsTitle, 
    NewsClassId, NewsSummary, ReadCount, CoverPic, NewsSource, DetailLink, VideoLink, 
    SeoDescription, SeoKeywords, SeoTitle, ShowOrder, Status
  </sql>
  <sql id="Blob_Column_List" >
    NewsContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from newsdetail
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from newsdetail
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nhfc99.template.domain.NewsdetailDomain" >
    insert into newsdetail (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, ShowType, 
      NewsTitle, NewsClassId, NewsSummary, 
      ReadCount, CoverPic, NewsSource, 
      DetailLink, VideoLink, SeoDescription, 
      SeoKeywords, SeoTitle, ShowOrder, 
      Status, NewsContent)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{showType,jdbcType=INTEGER}, 
      #{newsTitle,jdbcType=VARCHAR}, #{newsClassId,jdbcType=VARCHAR}, #{newsSummary,jdbcType=VARCHAR}, 
      #{readCount,jdbcType=INTEGER}, #{coverPic,jdbcType=VARCHAR}, #{newsSource,jdbcType=VARCHAR}, 
      #{detailLink,jdbcType=VARCHAR}, #{videoLink,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, 
      #{seoKeywords,jdbcType=VARCHAR}, #{seoTitle,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{newsContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nhfc99.template.domain.NewsdetailDomain" >
    insert into newsdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="createDate != null" >
        CreateDate,
      </if>
      <if test="createUserId != null" >
        CreateUserId,
      </if>
      <if test="createUserName != null" >
        CreateUserName,
      </if>
      <if test="lastEditDate != null" >
        LastEditDate,
      </if>
      <if test="showType != null" >
        ShowType,
      </if>
      <if test="newsTitle != null" >
        NewsTitle,
      </if>
      <if test="newsClassId != null" >
        NewsClassId,
      </if>
      <if test="newsSummary != null" >
        NewsSummary,
      </if>
      <if test="readCount != null" >
        ReadCount,
      </if>
      <if test="coverPic != null" >
        CoverPic,
      </if>
      <if test="newsSource != null" >
        NewsSource,
      </if>
      <if test="detailLink != null" >
        DetailLink,
      </if>
      <if test="videoLink != null" >
        VideoLink,
      </if>
      <if test="seoDescription != null" >
        SeoDescription,
      </if>
      <if test="seoKeywords != null" >
        SeoKeywords,
      </if>
      <if test="seoTitle != null" >
        SeoTitle,
      </if>
      <if test="showOrder != null" >
        ShowOrder,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="newsContent != null" >
        NewsContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="showType != null" >
        #{showType,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null" >
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsClassId != null" >
        #{newsClassId,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null" >
        #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="newsSource != null" >
        #{newsSource,jdbcType=VARCHAR},
      </if>
      <if test="detailLink != null" >
        #{detailLink,jdbcType=VARCHAR},
      </if>
      <if test="videoLink != null" >
        #{videoLink,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null" >
        #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.NewsdetailDomain" >
    update newsdetail
    <set >
      <if test="createDate != null" >
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CreateUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        CreateUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="showType != null" >
        ShowType = #{showType,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null" >
        NewsTitle = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsClassId != null" >
        NewsClassId = #{newsClassId,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null" >
        NewsSummary = #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null" >
        ReadCount = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null" >
        CoverPic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="newsSource != null" >
        NewsSource = #{newsSource,jdbcType=VARCHAR},
      </if>
      <if test="detailLink != null" >
        DetailLink = #{detailLink,jdbcType=VARCHAR},
      </if>
      <if test="videoLink != null" >
        VideoLink = #{videoLink,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        SeoDescription = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        SeoKeywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        SeoTitle = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        ShowOrder = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null" >
        NewsContent = #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nhfc99.template.domain.NewsdetailDomain" >
    update newsdetail
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      ShowType = #{showType,jdbcType=INTEGER},
      NewsTitle = #{newsTitle,jdbcType=VARCHAR},
      NewsClassId = #{newsClassId,jdbcType=VARCHAR},
      NewsSummary = #{newsSummary,jdbcType=VARCHAR},
      ReadCount = #{readCount,jdbcType=INTEGER},
      CoverPic = #{coverPic,jdbcType=VARCHAR},
      NewsSource = #{newsSource,jdbcType=VARCHAR},
      DetailLink = #{detailLink,jdbcType=VARCHAR},
      VideoLink = #{videoLink,jdbcType=VARCHAR},
      SeoDescription = #{seoDescription,jdbcType=VARCHAR},
      SeoKeywords = #{seoKeywords,jdbcType=VARCHAR},
      SeoTitle = #{seoTitle,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      NewsContent = #{newsContent,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.NewsdetailDomain" >
    update newsdetail
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      ShowType = #{showType,jdbcType=INTEGER},
      NewsTitle = #{newsTitle,jdbcType=VARCHAR},
      NewsClassId = #{newsClassId,jdbcType=VARCHAR},
      NewsSummary = #{newsSummary,jdbcType=VARCHAR},
      ReadCount = #{readCount,jdbcType=INTEGER},
      CoverPic = #{coverPic,jdbcType=VARCHAR},
      NewsSource = #{newsSource,jdbcType=VARCHAR},
      DetailLink = #{detailLink,jdbcType=VARCHAR},
      VideoLink = #{videoLink,jdbcType=VARCHAR},
      SeoDescription = #{seoDescription,jdbcType=VARCHAR},
      SeoKeywords = #{seoKeywords,jdbcType=VARCHAR},
      SeoTitle = #{seoTitle,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>