<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.NewsclassDomainMapper" >
  <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.NewsclassDomain" >
    <constructor >
      <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BackMemo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LayoutLevel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ParentId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ParentName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CascadeId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CoverPic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoDescription" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoKeywords" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SeoTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BackMemo, Name, LayoutLevel, ParentId, ParentName, CascadeId, CoverPic, SeoDescription, 
    SeoKeywords, SeoTitle, ShowOrder, Status, CreateDate, CreateUserId, CreateUserName, 
    LastEditDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from newsclass
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from newsclass
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nhfc99.template.domain.NewsclassDomain" >
    insert into newsclass (Id, BackMemo, Name, 
      LayoutLevel, ParentId, ParentName, 
      CascadeId, CoverPic, SeoDescription, 
      SeoKeywords, SeoTitle, ShowOrder, 
      Status, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate)
    values (#{id,jdbcType=VARCHAR}, #{backMemo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{layoutLevel,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR}, 
      #{cascadeId,jdbcType=VARCHAR}, #{coverPic,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, 
      #{seoKeywords,jdbcType=VARCHAR}, #{seoTitle,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nhfc99.template.domain.NewsclassDomain" >
    insert into newsclass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="backMemo != null" >
        BackMemo,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="layoutLevel != null" >
        LayoutLevel,
      </if>
      <if test="parentId != null" >
        ParentId,
      </if>
      <if test="parentName != null" >
        ParentName,
      </if>
      <if test="cascadeId != null" >
        CascadeId,
      </if>
      <if test="coverPic != null" >
        CoverPic,
      </if>
      <if test="seoDescription != null" >
        SeoDescription,
      </if>
      <if test="seoKeywords != null" >
        SeoKeywords,
      </if>
      <if test="seoTitle != null" >
        SeoTitle,
      </if>
      <if test="showOrder != null" >
        ShowOrder,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createDate != null" >
        CreateDate,
      </if>
      <if test="createUserId != null" >
        CreateUserId,
      </if>
      <if test="createUserName != null" >
        CreateUserName,
      </if>
      <if test="lastEditDate != null" >
        LastEditDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="backMemo != null" >
        #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="layoutLevel != null" >
        #{layoutLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="cascadeId != null" >
        #{cascadeId,jdbcType=VARCHAR},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.NewsclassDomain" >
    update newsclass
    <set >
      <if test="backMemo != null" >
        BackMemo = #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="layoutLevel != null" >
        LayoutLevel = #{layoutLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        ParentId = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        ParentName = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="cascadeId != null" >
        CascadeId = #{cascadeId,jdbcType=VARCHAR},
      </if>
      <if test="coverPic != null" >
        CoverPic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        SeoDescription = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        SeoKeywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null" >
        SeoTitle = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        ShowOrder = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CreateUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        CreateUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.NewsclassDomain" >
    update newsclass
    set BackMemo = #{backMemo,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      LayoutLevel = #{layoutLevel,jdbcType=INTEGER},
      ParentId = #{parentId,jdbcType=VARCHAR},
      ParentName = #{parentName,jdbcType=VARCHAR},
      CascadeId = #{cascadeId,jdbcType=VARCHAR},
      CoverPic = #{coverPic,jdbcType=VARCHAR},
      SeoDescription = #{seoDescription,jdbcType=VARCHAR},
      SeoKeywords = #{seoKeywords,jdbcType=VARCHAR},
      SeoTitle = #{seoTitle,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>