<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.ProjectinfoDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.ProjectinfoDomain">
        <constructor>
            <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="ProjectName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectAreaId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="BelongCategory" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectSiteName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectAddress" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectShowPic" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectShowVideo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ProjectDescribe" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, ProjectName, ProjectAreaId, 
    BelongCategory, ProjectSiteName, ProjectAddress, ProjectShowPic, ProjectShowVideo, 
    ProjectDescribe, ShowOrder, Status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from projectinfo
        where Id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByProjectName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from projectinfo
        where ProjectName = #{name ,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from projectinfo
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from projectinfo
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.nhfc99.template.domain.ProjectinfoDomain">
    insert into projectinfo (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, ProjectName, 
      ProjectAreaId, BelongCategory, ProjectSiteName, 
      ProjectAddress, ProjectShowPic, ProjectShowVideo, 
      ProjectDescribe, ShowOrder, Status
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{projectName,jdbcType=VARCHAR}, 
      #{projectAreaId,jdbcType=VARCHAR}, #{belongCategory,jdbcType=VARCHAR}, #{projectSiteName,jdbcType=VARCHAR}, 
      #{projectAddress,jdbcType=VARCHAR}, #{projectShowPic,jdbcType=VARCHAR}, #{projectShowVideo,jdbcType=VARCHAR}, 
      #{projectDescribe,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.ProjectinfoDomain">
        insert into projectinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="createDate != null">
                CreateDate,
            </if>
            <if test="createUserId != null">
                CreateUserId,
            </if>
            <if test="createUserName != null">
                CreateUserName,
            </if>
            <if test="lastEditDate != null">
                LastEditDate,
            </if>
            <if test="projectName != null">
                ProjectName,
            </if>
            <if test="projectAreaId != null">
                ProjectAreaId,
            </if>
            <if test="belongCategory != null">
                BelongCategory,
            </if>
            <if test="projectSiteName != null">
                ProjectSiteName,
            </if>
            <if test="projectAddress != null">
                ProjectAddress,
            </if>
            <if test="projectShowPic != null">
                ProjectShowPic,
            </if>
            <if test="projectShowVideo != null">
                ProjectShowVideo,
            </if>
            <if test="projectDescribe != null">
                ProjectDescribe,
            </if>
            <if test="showOrder != null">
                ShowOrder,
            </if>
            <if test="status != null">
                Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectAreaId != null">
                #{projectAreaId,jdbcType=VARCHAR},
            </if>
            <if test="belongCategory != null">
                #{belongCategory,jdbcType=VARCHAR},
            </if>
            <if test="projectSiteName != null">
                #{projectSiteName,jdbcType=VARCHAR},
            </if>
            <if test="projectAddress != null">
                #{projectAddress,jdbcType=VARCHAR},
            </if>
            <if test="projectShowPic != null">
                #{projectShowPic,jdbcType=VARCHAR},
            </if>
            <if test="projectShowVideo != null">
                #{projectShowVideo,jdbcType=VARCHAR},
            </if>
            <if test="projectDescribe != null">
                #{projectDescribe,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.ProjectinfoDomain">
        update projectinfo
        <set>
            <if test="createDate != null">
                CreateDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                CreateUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                CreateUserName = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="projectName != null">
                ProjectName = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectAreaId != null">
                ProjectAreaId = #{projectAreaId,jdbcType=VARCHAR},
            </if>
            <if test="belongCategory != null">
                BelongCategory = #{belongCategory,jdbcType=VARCHAR},
            </if>
            <if test="projectSiteName != null">
                ProjectSiteName = #{projectSiteName,jdbcType=VARCHAR},
            </if>
            <if test="projectAddress != null">
                ProjectAddress = #{projectAddress,jdbcType=VARCHAR},
            </if>
            <if test="projectShowPic != null">
                ProjectShowPic = #{projectShowPic,jdbcType=VARCHAR},
            </if>
            <if test="projectShowVideo != null">
                ProjectShowVideo = #{projectShowVideo,jdbcType=VARCHAR},
            </if>
            <if test="projectDescribe != null">
                ProjectDescribe = #{projectDescribe,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                ShowOrder = #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                Status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.ProjectinfoDomain">
    update projectinfo
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      ProjectName = #{projectName,jdbcType=VARCHAR},
      ProjectAreaId = #{projectAreaId,jdbcType=VARCHAR},
      BelongCategory = #{belongCategory,jdbcType=VARCHAR},
      ProjectSiteName = #{projectSiteName,jdbcType=VARCHAR},
      ProjectAddress = #{projectAddress,jdbcType=VARCHAR},
      ProjectShowPic = #{projectShowPic,jdbcType=VARCHAR},
      ProjectShowVideo = #{projectShowVideo,jdbcType=VARCHAR},
      ProjectDescribe = #{projectDescribe,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>