<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.SysroleDomainMapper" >
  <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.SysroleDomain" >
    <constructor >
      <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="RoleName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="IsValue" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="BackMemo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="WorkRange" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PowerRange" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="WarningLevel" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, RoleName, ShowOrder, 
    IsValue, BackMemo, WorkRange, PowerRange, WarningLevel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sysrole
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sysrole
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nhfc99.template.domain.SysroleDomain" >
    insert into sysrole (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, RoleName, 
      ShowOrder, IsValue, BackMemo, 
      WorkRange, PowerRange, WarningLevel
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{roleName,jdbcType=VARCHAR}, 
      #{showOrder,jdbcType=INTEGER}, #{isValue,jdbcType=BIT}, #{backMemo,jdbcType=VARCHAR}, 
      #{workRange,jdbcType=VARCHAR}, #{powerRange,jdbcType=INTEGER}, #{warningLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nhfc99.template.domain.SysroleDomain" >
    insert into sysrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="createDate != null" >
        CreateDate,
      </if>
      <if test="createUserId != null" >
        CreateUserId,
      </if>
      <if test="createUserName != null" >
        CreateUserName,
      </if>
      <if test="lastEditDate != null" >
        LastEditDate,
      </if>
      <if test="roleName != null" >
        RoleName,
      </if>
      <if test="showOrder != null" >
        ShowOrder,
      </if>
      <if test="isValue != null" >
        IsValue,
      </if>
      <if test="backMemo != null" >
        BackMemo,
      </if>
      <if test="workRange != null" >
        WorkRange,
      </if>
      <if test="powerRange != null" >
        PowerRange,
      </if>
      <if test="warningLevel != null" >
        WarningLevel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="isValue != null" >
        #{isValue,jdbcType=BIT},
      </if>
      <if test="backMemo != null" >
        #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="workRange != null" >
        #{workRange,jdbcType=VARCHAR},
      </if>
      <if test="powerRange != null" >
        #{powerRange,jdbcType=INTEGER},
      </if>
      <if test="warningLevel != null" >
        #{warningLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.SysroleDomain" >
    update sysrole
    <set >
      <if test="createDate != null" >
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CreateUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        CreateUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        RoleName = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        ShowOrder = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="isValue != null" >
        IsValue = #{isValue,jdbcType=BIT},
      </if>
      <if test="backMemo != null" >
        BackMemo = #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="workRange != null" >
        WorkRange = #{workRange,jdbcType=VARCHAR},
      </if>
      <if test="powerRange != null" >
        PowerRange = #{powerRange,jdbcType=INTEGER},
      </if>
      <if test="warningLevel != null" >
        WarningLevel = #{warningLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.SysroleDomain" >
    update sysrole
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      RoleName = #{roleName,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      IsValue = #{isValue,jdbcType=BIT},
      BackMemo = #{backMemo,jdbcType=VARCHAR},
      WorkRange = #{workRange,jdbcType=VARCHAR},
      PowerRange = #{powerRange,jdbcType=INTEGER},
      WarningLevel = #{warningLevel,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>