<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.SysuserDomainMapper" >
  <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.SysuserDomain" >
    <constructor >
      <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="LastLoginDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="LoginCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MobilePhone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RealName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SysRoleId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SecretKey" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OpenId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OpenIdByMP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UnionId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SessionKey" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SiteName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DutyName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UserAvatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BelongCity" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, LastLoginDate, LoginCount, 
    MobilePhone, RealName, SysRoleId, SecretKey, Status, Account, Password, OpenId, OpenIdByMP, 
    UnionId, SessionKey, SiteName, DutyName, UserAvatar, Sex, BelongCity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sysuser
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sysuser
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nhfc99.template.domain.SysuserDomain" >
    insert into sysuser (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, LastLoginDate, 
      LoginCount, MobilePhone, RealName, 
      SysRoleId, SecretKey, Status, 
      Account, Password, OpenId, 
      OpenIdByMP, UnionId, SessionKey, 
      SiteName, DutyName, UserAvatar, 
      Sex, BelongCity)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{loginCount,jdbcType=INTEGER}, #{mobilePhone,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{sysRoleId,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{openIdByMP,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR}, 
      #{siteName,jdbcType=VARCHAR}, #{dutyName,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{belongCity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nhfc99.template.domain.SysuserDomain" >
    insert into sysuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="createDate != null" >
        CreateDate,
      </if>
      <if test="createUserId != null" >
        CreateUserId,
      </if>
      <if test="createUserName != null" >
        CreateUserName,
      </if>
      <if test="lastEditDate != null" >
        LastEditDate,
      </if>
      <if test="lastLoginDate != null" >
        LastLoginDate,
      </if>
      <if test="loginCount != null" >
        LoginCount,
      </if>
      <if test="mobilePhone != null" >
        MobilePhone,
      </if>
      <if test="realName != null" >
        RealName,
      </if>
      <if test="sysRoleId != null" >
        SysRoleId,
      </if>
      <if test="secretKey != null" >
        SecretKey,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="account != null" >
        Account,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="openId != null" >
        OpenId,
      </if>
      <if test="openIdByMP != null" >
        OpenIdByMP,
      </if>
      <if test="unionId != null" >
        UnionId,
      </if>
      <if test="sessionKey != null" >
        SessionKey,
      </if>
      <if test="siteName != null" >
        SiteName,
      </if>
      <if test="dutyName != null" >
        DutyName,
      </if>
      <if test="userAvatar != null" >
        UserAvatar,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="belongCity != null" >
        BelongCity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="openIdByMP != null" >
        #{openIdByMP,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="belongCity != null" >
        #{belongCity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.SysuserDomain" >
    update sysuser
    <set >
      <if test="createDate != null" >
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CreateUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        CreateUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="lastEditDate != null" >
        LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null" >
        LastLoginDate = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null" >
        LoginCount = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="mobilePhone != null" >
        MobilePhone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        RealName = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null" >
        SysRoleId = #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        SecretKey = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        OpenId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="openIdByMP != null" >
        OpenIdByMP = #{openIdByMP,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        UnionId = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        SessionKey = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        SiteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        DutyName = #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        UserAvatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="belongCity != null" >
        BelongCity = #{belongCity,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.SysuserDomain" >
    update sysuser
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      LastLoginDate = #{lastLoginDate,jdbcType=TIMESTAMP},
      LoginCount = #{loginCount,jdbcType=INTEGER},
      MobilePhone = #{mobilePhone,jdbcType=VARCHAR},
      RealName = #{realName,jdbcType=VARCHAR},
      SysRoleId = #{sysRoleId,jdbcType=VARCHAR},
      SecretKey = #{secretKey,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      Account = #{account,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      OpenId = #{openId,jdbcType=VARCHAR},
      OpenIdByMP = #{openIdByMP,jdbcType=VARCHAR},
      UnionId = #{unionId,jdbcType=VARCHAR},
      SessionKey = #{sessionKey,jdbcType=VARCHAR},
      SiteName = #{siteName,jdbcType=VARCHAR},
      DutyName = #{dutyName,jdbcType=VARCHAR},
      UserAvatar = #{userAvatar,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      BelongCity = #{belongCity,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>