<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.TunneltestfaultfixportDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.TunneltestfaultfixportDomain">
        <constructor>
            <arg column="Id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="ProjectInfoId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelInfoId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelTestReportId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="StartKilometre" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="StartMetre" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="EndKilometre" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="EndMetre" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="FaultLength" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="FaultType" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="FaultSite" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DesignAmount" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ActualAmount" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="IsFault" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="IsFix" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="BackMemo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DataInfoId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="AttachUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelFixReportId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelTestFaultId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="FixReportFile" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ReportNum" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="FaultLevel" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="FixActualAmount" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TestReportFile" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <select id="selectByTunnelName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        Id, CreateDate, ProjectInfoId,
      TunnelName, TunnelInfoId, TunnelTestReportId,
      StartKilometre, StartMetre, EndKilometre,
      EndMetre, FaultLength, FaultType,
      FaultSite, DesignAmount, ActualAmount,
      IsFault, IsFix, BackMemo, DataInfoId,
      AttachUrl, TunnelFixReportId, TunnelTestFaultId,
      FixReportFile, ReportNum, FaultLevel,
      FixActualAmount, TestReportFile
        from tunneltestfaultfixport
        where TunnelName = #{tunnelName,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.nhfc99.template.domain.TunneltestfaultfixportDomain">
    insert into tunneltestfaultfixport (Id, CreateDate, ProjectInfoId, 
      TunnelName, TunnelInfoId, TunnelTestReportId, 
      StartKilometre, StartMetre, EndKilometre, 
      EndMetre, FaultLength, FaultType, 
      FaultSite, DesignAmount, ActualAmount, 
      IsFault, IsFix, BackMemo, DataInfoId, 
      AttachUrl, TunnelFixReportId, TunnelTestFaultId, 
      FixReportFile, ReportNum, FaultLevel, 
      FixActualAmount, TestReportFile)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{projectInfoId,jdbcType=VARCHAR}, 
      #{tunnelName,jdbcType=VARCHAR}, #{tunnelInfoId,jdbcType=VARCHAR}, #{tunnelTestReportId,jdbcType=VARCHAR}, 
      #{startKilometre,jdbcType=INTEGER}, #{startMetre,jdbcType=DECIMAL}, #{endKilometre,jdbcType=INTEGER}, 
      #{endMetre,jdbcType=DECIMAL}, #{faultLength,jdbcType=DECIMAL}, #{faultType,jdbcType=VARCHAR}, 
      #{faultSite,jdbcType=VARCHAR}, #{designAmount,jdbcType=VARCHAR}, #{actualAmount,jdbcType=VARCHAR}, 
      #{isFault,jdbcType=BIT}, #{isFix,jdbcType=BIT}, #{backMemo,jdbcType=VARCHAR}, #{dataInfoId,jdbcType=VARCHAR}, 
      #{attachUrl,jdbcType=VARCHAR}, #{tunnelFixReportId,jdbcType=VARCHAR}, #{tunnelTestFaultId,jdbcType=VARCHAR}, 
      #{fixReportFile,jdbcType=VARCHAR}, #{reportNum,jdbcType=VARCHAR}, #{faultLevel,jdbcType=INTEGER}, 
      #{fixActualAmount,jdbcType=VARCHAR}, #{testReportFile,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.TunneltestfaultfixportDomain">
        insert into tunneltestfaultfixport
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="createDate != null">
                CreateDate,
            </if>
            <if test="projectInfoId != null">
                ProjectInfoId,
            </if>
            <if test="tunnelName != null">
                TunnelName,
            </if>
            <if test="tunnelInfoId != null">
                TunnelInfoId,
            </if>
            <if test="tunnelTestReportId != null">
                TunnelTestReportId,
            </if>
            <if test="startKilometre != null">
                StartKilometre,
            </if>
            <if test="startMetre != null">
                StartMetre,
            </if>
            <if test="endKilometre != null">
                EndKilometre,
            </if>
            <if test="endMetre != null">
                EndMetre,
            </if>
            <if test="faultLength != null">
                FaultLength,
            </if>
            <if test="faultType != null">
                FaultType,
            </if>
            <if test="faultSite != null">
                FaultSite,
            </if>
            <if test="designAmount != null">
                DesignAmount,
            </if>
            <if test="actualAmount != null">
                ActualAmount,
            </if>
            <if test="isFault != null">
                IsFault,
            </if>
            <if test="isFix != null">
                IsFix,
            </if>
            <if test="backMemo != null">
                BackMemo,
            </if>
            <if test="dataInfoId != null">
                DataInfoId,
            </if>
            <if test="attachUrl != null">
                AttachUrl,
            </if>
            <if test="tunnelFixReportId != null">
                TunnelFixReportId,
            </if>
            <if test="tunnelTestFaultId != null">
                TunnelTestFaultId,
            </if>
            <if test="fixReportFile != null">
                FixReportFile,
            </if>
            <if test="reportNum != null">
                ReportNum,
            </if>
            <if test="faultLevel != null">
                FaultLevel,
            </if>
            <if test="fixActualAmount != null">
                FixActualAmount,
            </if>
            <if test="testReportFile != null">
                TestReportFile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="projectInfoId != null">
                #{projectInfoId,jdbcType=VARCHAR},
            </if>
            <if test="tunnelName != null">
                #{tunnelName,jdbcType=VARCHAR},
            </if>
            <if test="tunnelInfoId != null">
                #{tunnelInfoId,jdbcType=VARCHAR},
            </if>
            <if test="tunnelTestReportId != null">
                #{tunnelTestReportId,jdbcType=VARCHAR},
            </if>
            <if test="startKilometre != null">
                #{startKilometre,jdbcType=INTEGER},
            </if>
            <if test="startMetre != null">
                #{startMetre,jdbcType=DECIMAL},
            </if>
            <if test="endKilometre != null">
                #{endKilometre,jdbcType=INTEGER},
            </if>
            <if test="endMetre != null">
                #{endMetre,jdbcType=DECIMAL},
            </if>
            <if test="faultLength != null">
                #{faultLength,jdbcType=DECIMAL},
            </if>
            <if test="faultType != null">
                #{faultType,jdbcType=VARCHAR},
            </if>
            <if test="faultSite != null">
                #{faultSite,jdbcType=VARCHAR},
            </if>
            <if test="designAmount != null">
                #{designAmount,jdbcType=VARCHAR},
            </if>
            <if test="actualAmount != null">
                #{actualAmount,jdbcType=VARCHAR},
            </if>
            <if test="isFault != null">
                #{isFault,jdbcType=BIT},
            </if>
            <if test="isFix != null">
                #{isFix,jdbcType=BIT},
            </if>
            <if test="backMemo != null">
                #{backMemo,jdbcType=VARCHAR},
            </if>
            <if test="dataInfoId != null">
                #{dataInfoId,jdbcType=VARCHAR},
            </if>
            <if test="attachUrl != null">
                #{attachUrl,jdbcType=VARCHAR},
            </if>
            <if test="tunnelFixReportId != null">
                #{tunnelFixReportId,jdbcType=VARCHAR},
            </if>
            <if test="tunnelTestFaultId != null">
                #{tunnelTestFaultId,jdbcType=VARCHAR},
            </if>
            <if test="fixReportFile != null">
                #{fixReportFile,jdbcType=VARCHAR},
            </if>
            <if test="reportNum != null">
                #{reportNum,jdbcType=VARCHAR},
            </if>
            <if test="faultLevel != null">
                #{faultLevel,jdbcType=INTEGER},
            </if>
            <if test="fixActualAmount != null">
                #{fixActualAmount,jdbcType=VARCHAR},
            </if>
            <if test="testReportFile != null">
                #{testReportFile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>