<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.TunnelinfoDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.TunnelinfoDomain">
        <constructor>
            <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="CreateUserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CreateUserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="LastEditDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="ProjectInfoId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelName" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="PileNumCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="StartKilometre" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="StartMetre" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="EndKilometre" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="EndMetre" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="TunnelLength" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="BuildLength" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="TestLength" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="FixCrackLength" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="BuildAddress" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelShowPic" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelShowDetailPic" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TunnelDescribe" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ShowOrder" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="TotalStatus" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="Status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    Id, CreateDate, CreateUserId, CreateUserName, LastEditDate, ProjectInfoId, TunnelName, 
    PileNumCode, StartKilometre, StartMetre, EndKilometre, EndMetre, TunnelLength, BuildLength, 
    TestLength, FixCrackLength, BuildAddress, TunnelShowPic, TunnelShowDetailPic, TunnelDescribe, 
    ShowOrder, TotalStatus, Status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tunnelinfo
        where Id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="selectByTunnelName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tunnelinfo
        where TunnelName = #{tunnelName,jdbcType=VARCHAR}
    </select>

    <select id="selectProgramsAndTunnels" resultType="com.nhfc99.template.pojo.ProgramsAndTunnelsSqlResult">
        SELECT tunnelinfo.Id AS tunnelinfoId,
        tunnelinfo.TunnelName AS TunnelName,
        projectinfo.Id AS projectinfoId,
        projectarea.`Name` AS projectareaName,
        projectinfo.ProjectName AS ProjectName,
        projectinfo.BelongCategory AS BelongCategory
        FROM tunnelinfo,projectinfo,projectarea
        WHERE tunnelinfo.ProjectInfoId = projectinfo.Id and
        projectarea.Id = projectinfo.ProjectAreaId
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tunnelinfo
    where Id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.nhfc99.template.domain.TunnelinfoDomain">
    insert into tunnelinfo (Id, CreateDate, CreateUserId, 
      CreateUserName, LastEditDate, ProjectInfoId, 
      TunnelName, PileNumCode, StartKilometre, 
      StartMetre, EndKilometre, EndMetre, 
      TunnelLength, BuildLength, TestLength, 
      FixCrackLength, BuildAddress, TunnelShowPic, 
      TunnelShowDetailPic, TunnelDescribe, ShowOrder, 
      TotalStatus, Status)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{lastEditDate,jdbcType=TIMESTAMP}, #{projectInfoId,jdbcType=VARCHAR}, 
      #{tunnelName,jdbcType=VARCHAR}, #{pileNumCode,jdbcType=VARCHAR}, #{startKilometre,jdbcType=INTEGER}, 
      #{startMetre,jdbcType=DECIMAL}, #{endKilometre,jdbcType=INTEGER}, #{endMetre,jdbcType=DECIMAL}, 
      #{tunnelLength,jdbcType=DECIMAL}, #{buildLength,jdbcType=DECIMAL}, #{testLength,jdbcType=DECIMAL}, 
      #{fixCrackLength,jdbcType=DECIMAL}, #{buildAddress,jdbcType=VARCHAR}, #{tunnelShowPic,jdbcType=VARCHAR}, 
      #{tunnelShowDetailPic,jdbcType=VARCHAR}, #{tunnelDescribe,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{totalStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.TunnelinfoDomain">
        insert into tunnelinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="createDate != null">
                CreateDate,
            </if>
            <if test="createUserId != null">
                CreateUserId,
            </if>
            <if test="createUserName != null">
                CreateUserName,
            </if>
            <if test="lastEditDate != null">
                LastEditDate,
            </if>
            <if test="projectInfoId != null">
                ProjectInfoId,
            </if>
            <if test="tunnelName != null">
                TunnelName,
            </if>
            <if test="pileNumCode != null">
                PileNumCode,
            </if>
            <if test="startKilometre != null">
                StartKilometre,
            </if>
            <if test="startMetre != null">
                StartMetre,
            </if>
            <if test="endKilometre != null">
                EndKilometre,
            </if>
            <if test="endMetre != null">
                EndMetre,
            </if>
            <if test="tunnelLength != null">
                TunnelLength,
            </if>
            <if test="buildLength != null">
                BuildLength,
            </if>
            <if test="testLength != null">
                TestLength,
            </if>
            <if test="fixCrackLength != null">
                FixCrackLength,
            </if>
            <if test="buildAddress != null">
                BuildAddress,
            </if>
            <if test="tunnelShowPic != null">
                TunnelShowPic,
            </if>
            <if test="tunnelShowDetailPic != null">
                TunnelShowDetailPic,
            </if>
            <if test="tunnelDescribe != null">
                TunnelDescribe,
            </if>
            <if test="showOrder != null">
                ShowOrder,
            </if>
            <if test="totalStatus != null">
                TotalStatus,
            </if>
            <if test="status != null">
                Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="projectInfoId != null">
                #{projectInfoId,jdbcType=VARCHAR},
            </if>
            <if test="tunnelName != null">
                #{tunnelName,jdbcType=VARCHAR},
            </if>
            <if test="pileNumCode != null">
                #{pileNumCode,jdbcType=VARCHAR},
            </if>
            <if test="startKilometre != null">
                #{startKilometre,jdbcType=INTEGER},
            </if>
            <if test="startMetre != null">
                #{startMetre,jdbcType=DECIMAL},
            </if>
            <if test="endKilometre != null">
                #{endKilometre,jdbcType=INTEGER},
            </if>
            <if test="endMetre != null">
                #{endMetre,jdbcType=DECIMAL},
            </if>
            <if test="tunnelLength != null">
                #{tunnelLength,jdbcType=DECIMAL},
            </if>
            <if test="buildLength != null">
                #{buildLength,jdbcType=DECIMAL},
            </if>
            <if test="testLength != null">
                #{testLength,jdbcType=DECIMAL},
            </if>
            <if test="fixCrackLength != null">
                #{fixCrackLength,jdbcType=DECIMAL},
            </if>
            <if test="buildAddress != null">
                #{buildAddress,jdbcType=VARCHAR},
            </if>
            <if test="tunnelShowPic != null">
                #{tunnelShowPic,jdbcType=VARCHAR},
            </if>
            <if test="tunnelShowDetailPic != null">
                #{tunnelShowDetailPic,jdbcType=VARCHAR},
            </if>
            <if test="tunnelDescribe != null">
                #{tunnelDescribe,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="totalStatus != null">
                #{totalStatus,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.TunnelinfoDomain">
        update tunnelinfo
        <set>
            <if test="createDate != null">
                CreateDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                CreateUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserName != null">
                CreateUserName = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="lastEditDate != null">
                LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="projectInfoId != null">
                ProjectInfoId = #{projectInfoId,jdbcType=VARCHAR},
            </if>
            <if test="tunnelName != null">
                TunnelName = #{tunnelName,jdbcType=VARCHAR},
            </if>
            <if test="pileNumCode != null">
                PileNumCode = #{pileNumCode,jdbcType=VARCHAR},
            </if>
            <if test="startKilometre != null">
                StartKilometre = #{startKilometre,jdbcType=INTEGER},
            </if>
            <if test="startMetre != null">
                StartMetre = #{startMetre,jdbcType=DECIMAL},
            </if>
            <if test="endKilometre != null">
                EndKilometre = #{endKilometre,jdbcType=INTEGER},
            </if>
            <if test="endMetre != null">
                EndMetre = #{endMetre,jdbcType=DECIMAL},
            </if>
            <if test="tunnelLength != null">
                TunnelLength = #{tunnelLength,jdbcType=DECIMAL},
            </if>
            <if test="buildLength != null">
                BuildLength = #{buildLength,jdbcType=DECIMAL},
            </if>
            <if test="testLength != null">
                TestLength = #{testLength,jdbcType=DECIMAL},
            </if>
            <if test="fixCrackLength != null">
                FixCrackLength = #{fixCrackLength,jdbcType=DECIMAL},
            </if>
            <if test="buildAddress != null">
                BuildAddress = #{buildAddress,jdbcType=VARCHAR},
            </if>
            <if test="tunnelShowPic != null">
                TunnelShowPic = #{tunnelShowPic,jdbcType=VARCHAR},
            </if>
            <if test="tunnelShowDetailPic != null">
                TunnelShowDetailPic = #{tunnelShowDetailPic,jdbcType=VARCHAR},
            </if>
            <if test="tunnelDescribe != null">
                TunnelDescribe = #{tunnelDescribe,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                ShowOrder = #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="totalStatus != null">
                TotalStatus = #{totalStatus,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                Status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.TunnelinfoDomain">
    update tunnelinfo
    set CreateDate = #{createDate,jdbcType=TIMESTAMP},
      CreateUserId = #{createUserId,jdbcType=VARCHAR},
      CreateUserName = #{createUserName,jdbcType=VARCHAR},
      LastEditDate = #{lastEditDate,jdbcType=TIMESTAMP},
      ProjectInfoId = #{projectInfoId,jdbcType=VARCHAR},
      TunnelName = #{tunnelName,jdbcType=VARCHAR},
      PileNumCode = #{pileNumCode,jdbcType=VARCHAR},
      StartKilometre = #{startKilometre,jdbcType=INTEGER},
      StartMetre = #{startMetre,jdbcType=DECIMAL},
      EndKilometre = #{endKilometre,jdbcType=INTEGER},
      EndMetre = #{endMetre,jdbcType=DECIMAL},
      TunnelLength = #{tunnelLength,jdbcType=DECIMAL},
      BuildLength = #{buildLength,jdbcType=DECIMAL},
      TestLength = #{testLength,jdbcType=DECIMAL},
      FixCrackLength = #{fixCrackLength,jdbcType=DECIMAL},
      BuildAddress = #{buildAddress,jdbcType=VARCHAR},
      TunnelShowPic = #{tunnelShowPic,jdbcType=VARCHAR},
      TunnelShowDetailPic = #{tunnelShowDetailPic,jdbcType=VARCHAR},
      TunnelDescribe = #{tunnelDescribe,jdbcType=VARCHAR},
      ShowOrder = #{showOrder,jdbcType=INTEGER},
      TotalStatus = #{totalStatus,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>