<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.VrhonoursDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.VrhonoursDomain">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="explains" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="img" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, explains, img
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from vrhonours
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vrhonours
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vrhonours
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.nhfc99.template.domain.VrhonoursDomain">
    insert into vrhonours (id, title, explains,
      img)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{explains,jdbcType=VARCHAR},
      #{img,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.VrhonoursDomain">
        insert into vrhonours
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="explains != null">
                explains,
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="explains != null">
                #{explains,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.VrhonoursDomain">
        update vrhonours
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="explains != null">
                explains = #{explains,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.VrhonoursDomain">
    update vrhonours
    set title = #{title,jdbcType=VARCHAR},
      explains = #{explains,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>