<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhfc99.template.dao.VrprojectcoordinateDomainMapper">
    <resultMap id="BaseResultMap" type="com.nhfc99.template.domain.VrprojectcoordinateDomain">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="projectinfoid" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="coorx" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="coory" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, projectinfoid, coorx, coory
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from vrprojectcoordinate
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAllExtaDomain" resultType="com.nhfc99.template.pojo.ProgramCoordinatesExtaDomain">
        SELECT vrprojectcoordinate.coorx AS x, vrprojectcoordinate.coory AS y, projectinfo.ProjectName,
        projectinfo.BelongCategory AS BelongCategory
        from vrprojectcoordinate,projectinfo where projectinfo.Id = vrprojectcoordinate.projectinfoid
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vrprojectcoordinate
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.nhfc99.template.domain.VrprojectcoordinateDomain">
    insert into vrprojectcoordinate (id, projectinfoid, coorx, 
      coory)
    values (#{id,jdbcType=BIGINT}, #{projectinfoid,jdbcType=VARCHAR}, #{coorx,jdbcType=INTEGER}, 
      #{coory,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.nhfc99.template.domain.VrprojectcoordinateDomain">
        insert into vrprojectcoordinate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectinfoid != null">
                projectinfoid,
            </if>
            <if test="coorx != null">
                coorx,
            </if>
            <if test="coory != null">
                coory,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="projectinfoid != null">
                #{projectinfoid,jdbcType=VARCHAR},
            </if>
            <if test="coorx != null">
                #{coorx,jdbcType=INTEGER},
            </if>
            <if test="coory != null">
                #{coory,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nhfc99.template.domain.VrprojectcoordinateDomain">
        update vrprojectcoordinate
        <set>
            <if test="projectinfoid != null">
                projectinfoid = #{projectinfoid,jdbcType=VARCHAR},
            </if>
            <if test="coorx != null">
                coorx = #{coorx,jdbcType=INTEGER},
            </if>
            <if test="coory != null">
                coory = #{coory,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nhfc99.template.domain.VrprojectcoordinateDomain">
    update vrprojectcoordinate
    set projectinfoid = #{projectinfoid,jdbcType=VARCHAR},
      coorx = #{coorx,jdbcType=INTEGER},
      coory = #{coory,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>